*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
/*+++++++++++++++++++ CABECERA ++++++++++++++++++++++++++++*/
header {
width: 100%;
height: 60px;
position: fixed;
z-index: 998;

}
#logo{
	width: 190px;
	left: 5%;
	top:30px;
	position: fixed;
	z-index: 999;
	cursor: pointer;
}
/*++++++++++++++++++++ HAMBURGUESA +++++++++++++++++++++++++*/
nav {
	position: fixed;
	top: 30px;
	right: 30px;
	z-index: 2;
	cursor: pointer;
}
.menu{
	position: fixed;
	right: 40px;
	color: white;
	top: 70px;
	z-index: 3;
	font-weight: 200;
}
.check{
	width: 45px;
	height: 45px;
	position: absolute;
	top:0px;
	left: 0px;
	z-index: 2;
	opacity: 0;
		cursor: pointer;
}
#burguer{

	width: 50px;
	height: 50px;
	padding-top: 5px;
	top:0px;
	left:0px;
	position: relative;
}
#burguer > li{
	background-color: white;
	width: 45px;
	height: 4px;
transition: 0.5s;
	padding: -15px;
	margin:0;
	border: 0;

}
#burguer .lista1{
	right: 10px;
	position: absolute;
	top:0px;

}
#burguer .lista2{
	width: 25px;
		right: 10px;
		top: 10px;
	position: absolute;
}

#burguer .lista3{
	width: 35px;
		right: 10px;
		top: 20px;
	position: absolute;

}
ul{
	list-style-type: none;
	position: relative;

}
nav:hover #burguer .lista2, nav:hover #burguer .lista3{
	width: 45px;
}

/*+++++++++++++++++Bloque++++++++++++++++++++++++++++*/
.bloqueColor1{
	background-color: #3e3e3d;
	width: 25%;
	height: 100vh;
	position: absolute;
	right: 0;
	top: 0;
	transition: 1.5s;
	display: flex;
	justify-content: center;
	align-items: center;

}
.bloquecolor2{
background-color: #3e3e3d;
	width: 25%;
	height: 100vh;
	position: fixed;
	right: -25%;
	top: 0;
	transition: 1.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 887;

}
.fondo{
	width: 75%;
	height: 100vh;
	background-image: url('../img/globito2.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;

}
.weare{
	width: 100%;
	height: 100%;
	display: block;
	transition: 2.5s;
	z-index: 888;

}

.menuabierto2{
	right: 0;
	width: 100%;
	transition: 1.5s;
}
.weareabierto{
	display: none;
}
.cajanav{
	position: absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items:center;

}
.navegador{

	width: 1200px;
	height: 300px;
display: flex;
flex-direction: column;
justify-content: center;
}
.linea1{
		display: flex;
		justify-content: space-between;
		opacity: 0;
}
.navegador li{
	width: 30%;
	text-align: center;
	font-size: 30pt;
	font-weight: 200;
	margin-bottom: 40px;
transition: 1.5s;
}
.navegador li a{
	text-decoration: none;
	color: white;
}
.navegador li a:hover{
	color:orange;
}
.navegadorAbierto{
	opacity: 1;
	transition: 1.5s;
}
/* QUIEN SOY */
.quienSoy{
	width: 100%;
	display: flex;
	padding: 180px 200px 80px 200px;
}
.tituloSoy{
	width: 48%;

	position: relative;
}
.tituloSoy h2{
	font-size: 30pt;
	color: orange;
	font-weight: 200;
}
.tituloSoy h1{
	font-size: 42pt;
	color: #3e3e3d;
	font-weight: 700;
}
.textoSoy{
	margin-top: 70px;
	text-align: justify;
	width: 50%;
}
.barras{
	height: 15px;
	width: 300px;

	display: flex;
	position: absolute;
	top: 265px;
	left: 280px;
}
.barra1{
	height: 15px;
	width: 250px;
	background-color: orange;
}
.barra2{
	height: 15px;
	width: 10px;
	background-color: orange;
	margin-left: 10px;
}
.botonSoy{
	width: 200px;
	height: 60px;
	border: 2px solid orange;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.botonSoy p{
	color: orange;
	font-size: 12pt;
	text-transform: uppercase;
}
.botonSoy:hover{
	background-color: orange;
}
.botonSoy:hover p{
	color: white;
}
/* SECCION DE INTERESES */
.intereses{
	margin: 200px 0 150px 0;
	width: 100%;
	padding:20px 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f0f0f0;
}
.sectionInt{
	width: 23%;
	display: flex;
	height: 270px;
	flex-direction: column;
	align-items: center;
}
.iconoInt{
	width: 100px;
	height: 100px;
		background-size: cover;
	background-position: center;
}
.iconseo{
	background-image: url('../icon/seo.png');
}.iconweb{
	background-image: url('../icon/web.png');
}.iconvideo{
	background-image: url('../icon/video.png');
}.iconfoto{
	background-image: url('../icon/foto.png');
}
.sectionInt h4{
	margin: 5px 0;
	font-size: 18pt;
}
.sectionInt p{
	text-align: center;
}


/* SECCION CATEGORIAS */
.categorias{
	margin-top: 150px;
	height: 100vh;
	width: 100%;
	position: relative;
}
.foto{
	background-image: url('../img/naranjas.jpg');
	background-size: cover;
	background-position: center;
}
.foto2{
	background-image: url('../img/limon.jpg');
	background-size: cover;
	background-position: center;
}
.foto3{
	background-image: url('../img/piña.jpg');
	background-size: cover;
	background-position: center;
}
.foto4{
	background-image: url('../img/diseñoweb.jpg');
	background-size: cover;
	background-position: center;
}
.fotogrande{
	height: 700px;
	width: 550px;
	position: absolute;
	left: 200px;
	top:130px;
}
.fotopeque{
	height: 600px;
	width: 450px;
	position: absolute;
	left: 400px;
	top: 200px;
}

.categorias .titulo1{
	font-size: 60px;
	font-weight: 400;
	color: #858584;
	position: absolute;
	left: 800px;
	top: 0px;
}
.titulo2{
	font-size: 60px;
	font-weight: 400;
	color: #858584;
	position: absolute;
	left: 800px;
	top: 60px;
}
.texto{
	width: 650px;
	height: 500px;
	position: absolute;
	right: 200px;
	top: 240px;
	font-size: 12pt;
	font-weight: 400;
	color: #6e6e6e;
	text-align: justify;
}
.boton{
	width: 200px;
	height: 60px;
	border: 2px solid orange;
	position: absolute;
	right: 650px;
	top: 690px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.boton:hover{
	background-color: orange;
}
.boton p{
	color: orange;
	font-size: 12pt;
	text-transform: uppercase;
}
.boton:hover p{
		color: white;
}
.flecha{
	background-image: url('../icon/flecha.png');
	height: 50px;
	width: 50px;
	position: absolute;
	right: 200px;
	top: 690px;
	cursor: pointer;
	animation-name: flechazo;
	transition: 0.5s;
}
.flecha:hover{
	position: absolute;
	right: 220px;
	transition: 1s;
}
.categorias2,.categorias3,.categorias4{
	display: none;
}


/* PORTFOLIO */
.portfolio{
	margin-top: 100px;
	margin-bottom: 200px;
}
.portfolio h2{
	width: 100%;
	text-align: center;
	font-size: 36pt;
	font-weight: 600;
	color: #3e3e3d;
}
.bloques{
	display: flex;
}
.bloque{
	margin-top: 50px;
	width: 25%;
	height: 700px;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.color{
	display: flex;
	justify-content: center;
	align-items: center;
		width: 100%;
	height: 100%;
}
.bloque:hover .color{
	background-color: rgba(255,80,0,0.5);
}
.bloque1{
	background-image: url('../img/branding.jpg');
}
.bloque2{
	background-image: url('../img/diseñoweb.jpg');
}
.bloque3{
	background-image: url('../img/carteleria.jpg');
}
.bloque4{
	background-image: url('../img/packaging.jpg');
}
.bloques a{
		text-decoration: none;
}
.bloque h3{
	font-size: 26pt;
	font-weight: 600;
	color: white;
}
/*    CONTENIDO    */

.contenido{
	width: 100%;
	height: 850px;
	background-image: url('../img/oso.jpg');
	background-size: cover;
	background-position: 0% 100%;
	margin-bottom: 300px;
	position: relative;
}
.bloqueContenido{
	background-color: white;
	width: 700px;
	height: 600px;
	position: absolute;
	right: 200px;
	top: 400px;
	border:2px solid orange;
}
.bloquetexto{
	width: 600px;
	height: 500px;
	position: absolute;
	right: 250px;
	top: 425px;

}
.bloquetexto h2{
	font-size: 30pt;
	font-weight: 400;
	color: #6e6e6e;
	margin-bottom: 10px;
}
.bloquetexto p{
	font-size: 12pt;
	color: #6e6e6e;
	text-align: justify;
}
.botonConte{
	width: 200px;
	height: 60px;
	border: 2px solid orange;
	position: absolute;
	right: 400px;
	top: 470px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.botonConte p{
	color: orange;
	font-size: 12pt;
	text-transform: uppercase;

}
.botonConte:hover{
	background-color: orange;
}
.botonConte:hover p{
	color: white;
}
/*      BLOG      */
.tituloblog{
	display: none;
}
.bloghome{
	width: 100%;
	height: 1000px;
	display: flex;
}
.imgblog{
	background-image: url('../img/blog.svg');
	background-size: cover;
	background-position: center;
	height: 800px;
	width: 45%;
}
.bloquetextoconte{
	width: 40%;
	height: 600px;
	margin-top: 120px;
	margin-left: 100px;
	padding: 40px;
	position: relative;
	text-align: justify;
}
.linea{
	width: 150px;
	height: 10px;
	background-color: orange;
	float: right;
	margin-top: 50px;
}
.botonblog{
	width: 200px;
	height: 60px;
	border:2px solid orange;
	position: absolute;
	right: 520px;
	top: 520px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.botonblog p{
	color: orange;
	font-size: 12pt;
	text-transform: uppercase;
}
.botonblog:hover{
	background-color: orange;
}
.botonblog:hover p{
	color: white;
}
.filtroinfo{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
}
.cuadroinfo{
	width: 100%;
	height: 200px;
	position: absolute;
	padding: 40px;
	bottom: 0;
}
.cuadroinfo h4{
		font-family: 'Mulish', sans-serif;
		text-transform: uppercase;
		color: orange;
		margin-bottom: 10px;
}
.cuadroinfo h3{
		font-family: 'Poppins', sans-serif;
		text-transform: uppercase;
		font-size: 22px;
		color: white;
		font-weight: 600;
}
.cuadroinfo2{
	width: 100%;
	height: 180px;
	position: absolute;
	padding: 40px;
	bottom: 0;
}
.cuadroinfo2 h4{
		font-family: 'Mulish', sans-serif;
		text-transform: uppercase;
		color: orange;
		margin-bottom: 10px;
}
.cuadroinfo2 h3{
		font-family: 'Poppins', sans-serif;
		text-transform: uppercase;
		font-size: 18px;
		color: white;
		font-weight: 600;
}



/*       CONTÁCTANOS     */

.contactanos{
	text-align: center;

}
.contactanos h2{
	color: orange;
	font-size: 30pt;
	font-weight: 200;
}
.contactanos h1{
	margin-top: -15px;
	margin-bottom: 15px;
	font-size: 35pt;
	font-weight: 500;
	color: #3e3e3d;
	text-transform: uppercase;
}
.contactanos p{
	width:35%;
	color: #3e3e3d;
	font-size: 14pt;
	margin: 0 auto;
}
.botonContacto{
	width: 200px;
	height: 60px;
	border: 2px solid orange;
	margin: 50px auto 50px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.botonContacto p{
	color: orange;
	font-size: 12pt;
	text-transform: uppercase;
}
.lineaseparacion{
	width: 100%;
	height: 2px;
	background-color: orange;
	margin: 80px 0;
}
.lineafinal{
	margin-bottom: 200px;
}
/*    FOOTER    */

footer{
	width: 100%;
	height: 280px;
	background-color: #3e3e3d;
	padding: 40px 200px;
	display: flex;
	justify-content: space-around;
	color: white;
}

.icono{
	color: white;
	font-size: 18pt;
	margin-right: 25px;

}

footer p{
	font-size: 14pt;
	font-weight: 500;
	margin-bottom: 15px;
}
footer ul li{
	font-size: 12pt;
	font-weight: 300;
	margin-bottom: 5px;
	cursor: pointer;
}
.linea2{
	margin-top: 15px;
	width: 100px;
	height: 6px;
	background-color: white;
}
.copy{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10pt;
	height: 40px;
	width: 100%;
	background-color: #30302f;
	color:white;
	font-weight: 200;
}
/*++++++++++++SERVICIOS++++++++++++++++++++++++++++++++++*/
.cabecera{
	background-color: #3d3d3d;
	height: 100px;
	width: 100%;
position: fixed;
z-index: 998;
top: 0;
}
#fondomenu2{
	opacity: 0;
}
.weare2{
opacity: 0;
	width: 100%;
	height: 100%;
	display: block;
	transition: 2.5s;
	z-index: 888;
}
.servicios{
		width: 70%;
	height: 800px;

	margin: 80px auto 0 auto;
}
.ser1{
	width: 100%;
	height: 65%;
	display: inline-flex;
}
.serlogo, .bloq2{
	margin: 5px;
	height: calc(100% - 10px);
	width: calc(50% - 5px) ;
}
.bloq2{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.serlogo{
		background-image: url('../img/serlog.jpg');
		background-size: cover;
		background-position: center;

}
.serweb{
	width: 100%;
	height: calc(50% - 5px);
		background-image: url('../img/serweb.jpg');
		background-size: cover;
		background-position: center;
}
.sercarteleria{
	width: 100%;
	height: calc(50% - 5px);
		background-image: url('../img/sercar.jpg');
		background-size: cover;

}
.ser2{
	width: 100%;
	height: 35%;
	margin-top: 5px;

	display: flex;
	justify-content: space-between;
}
.sermultimedia{
	width: calc(50% - 10px);
	margin-left: 5px;
	height: 100%;
			background-image: url('../img/sermul.jpg');
		background-size: cover;
		background-position: center;
}
.serbranding{
	height: 100%;
	margin-right: 5px;
		width: calc(50% - 10px);
			background-image: url('../img/serbran.jpg');
		background-size: cover;
		background-position: center;
}
.serlogo h3{
padding-top: 68%;
margin-left: 5%;
	color: white;
}
.bloq2 h3{
	padding-top: 30%;
	margin-left: 5%;
	color: white;
}
.ser2 h3{
	padding-top: 34%;
	margin-left: 5%;
	color: white;
}
.cuadronegro{
	height: 100%;
	width: 100%;
	cursor: pointer;
}
.cuadronegro:hover{
	background-color: rgba(0, 0, 0, .7);

}
.serlogo:hover{
	background-size: 110%;
}
.serweb:hover{
	background-size: 110%;
}
.sercarteleria:hover{
	background-size: 110%;
}
.sermultimedia:hover{
	background-size: 110%;
}
.serbranding:hover{
	background-size: 110%;
}
.foter{
	margin-top: 100px;

}
/*++++++++++++++BLOG+++++++++++++++++++++++*/

.blog{
	width: 95%;
	margin:100px auto 0px auto;
	display: flex;
	flex-direction: column;
}
.seccion1{
	width: 100%;
	height: 780px;
	display: flex;
	justify-content: space-between;
}
.seccion2{
	margin: 0 auto;
	width: 95%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.imagengrande{
	width: calc(50% - 5px);
	height: 100%;
	background-image: url('../img/blog/blog1.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	cursor: pointer;
}
.imagenpequeña{
		width: calc(50% - 5px);
	height: 100%;
	display: flex;
	justify-content: space-between;

}
.imagenizq{
	height: 100%;
	width: calc(50% - 5px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.imagender{
	height: 100%;
	width: calc(50% - 5px);
		display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}
.bloquegrande1{
	width: 100%;
	height: calc(60% - 5px);
	background-color: violet;
	position: relative;
			background-image: url('../img/blog/blog4.jpg');
	background-size: cover;
	background-position: center;
cursor: pointer;
}
.bloquegrande2{
	width: 100%;
	height: calc(60% - 5px);
	background-color: violet;
	position: relative;
			background-image: url('../img/blog/blog5.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.bloquepeque1{
	width: 100%;
	height: calc(40% - 5px);
	position: relative;
		background-image: url('../img/blog/blog2.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.bloquepeque2{
	width: 100%;
	height: calc(40% - 5px);
	position: relative;
		background-image: url('../img/blog/blog3.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.bloqueblog{
	width:  calc(100% / 3 - 10px);
	height: 400px;
	background-color: black;
	margin-top: 10px;
	position: relative;
}
.bloqueblog1{
		background-image: url('../img/blog/blog6.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.bloqueblog2{
		background-image: url('../img/blog/blog7.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.bloqueblog3{
		background-image: url('../img/blog/blog3.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.bloqueblog4{
		background-image: url('../img/blog/blog8.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.bloqueblog5{
		background-image: url('../img/blog/blog9.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.bloqueblog6{
		background-image: url('../img/blog/blog10.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.logo2{
	width: 120px;
	top: 15px;
	left: 5%;
	position: fixed;
	z-index: 999;
}
.cabecera2{
	height: 60px;

}
.burguer{

	top: -15px !important;
}
.check{
	top: -20px !important;
}

/*++++++++++++++++++SERVICIOS++++++++++++++++++++*/
.grafica{
	margin-top: 50px;
	width: 100%;
	height: 1400px;
	background-image: url(../img/fondologo2.png);
	background-position: bottom;
	background-size: cover;
	padding: 100px;
	z-index: 999;
}
.grafica2{
	display: flex;
	justify-content: space-between;
}
.textosgraficalogo{
	width: 50%;
	height: 800px;
}
.subtextos{
	display: flex;
}
.linea2{
	height: 2px;
	width: 55px;
	background-color: orange;
}
.textosgraficalogo h3{
	margin-left: 10px;
	font-weight: 400;
	color: orange;
	font-size: 18px;
}
.grafica h2{
	margin-top: 5px;
	font-size: 38pt;
	width: 65%;
	font-weight: 400;
	line-height: 40pt;
	color: white;
	margin-bottom: 40px;
}
.grafica p{
	color: white;
	width: 60%;
	font-size: 20px;

}
.botonlogo{
	margin-top: 100px;
	width: 200px;
	height: 60px;
	background-color: orange;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 0;
}
.botonlogo:hover{
	background-color: white;
}
.botonlogo .textoboton{
	text-align: center;
	width: 100%;
	color: white;
	font-size: 12pt;
	text-transform: uppercase;
}
.botonlogo:hover .textoboton{
		color: orange;
}
.pancake{
	margin-right: 150px;
	width: 32%;
	height: 663px;
	background-image: url(../img/pancake2.png);
	background-size: contain;
	background-position: top;
}
.webilus{
	margin-right: 100px;
	width:800px;
	height: 580px;
	background-image: url(../img/webdibujo2.png);
	background-size: cover;
	background-position: center;
}
.textologo{
	margin: 0 auto;
	text-align: center;
}
.textologo h3{
	color: orange;
	font-weight: 400;
	font-size: 22px;
	margin-top:0px;
	margin-bottom: 30px;
}
.textologo p{
	color: white;
margin: 0 auto;
font-size: 18px;
font-weight: 400;
}
.tarifa{
	position: relative;
}
.titulotarifa{
	text-align: center;
	font-weight: 300;
	color: #3d3d3d;
	font-size:36px;
	margin-top: 150px;
	margin-bottom: 100px;
}
.tarifaslogos{
	width: 100%;
	height: 800px;
	display: flex;
	justify-content: space-around;
	padding:0 150px;
}
.iconologo{
	width: 80px;
	height: 80px;
	background-image: url(../img/pincel.png);
	background-size: cover;
	margin: 0 auto;
}
.iconologo2{
	width: 80px;
	height: 80px;
	background-image: url(../img/corbata.png);
	background-size: cover;
	margin: 0 auto;
}
.iconologo3{
	width: 80px;
	height: 80px;
	background-image: url(../img/cohete.png);
	background-size: cover;
	margin: 0 auto;
}
.tarifaslogos h4{
	font-size: 28px;
	font-weight: 700;
	color: #3d3d3d;
	text-align: center;
}
.preciologotipo{
	font-size:52px;
	color: orange;
	text-align: center;
font-weight: 500;
}
.separadorprecios{
	height: 1.2px;
	width: 100%;
	background-color: #3d3d3d;
	margin-bottom: 30px;
	margin-top: -5px;
}
.tarifaslogos div p {
	font-size: 18px;
	color: #3d3d3d;
	line-height: 40px;
}
.botonprecio{
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 150px;
	border: solid 2px orange;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.botonprecio p{
	color: orange!important;
	font-size: 16px!important;
}
.botonprecio:hover{
	background-color: orange;
}
.botonprecio:hover p{
		color: white!important;

}
/*+++++++++++++++OTRA TARIFA++++++++++++++*/
.otratarifa{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;

}
.otratarifa div h2{
	font-size: 36px;
	color: orange;
	width: 80%;
	margin: 0 auto;
}
.otroplan{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
}
.otroplan .tic{
	color: #67a969;
	font-size: 20px;
	margin-left: 20px;
}
.textotarfi{
	display: flex;
	align-items: center;
	width:  50%;
}
.textotarfi div{
	font-size: 18px;
	margin-left: 10px;
}
.flechasdeco{
	margin: 30px auto;
	width: 300px;
	height: 20px;
	background-image: url(../img/triangulos.png);
	background-size: cover;
}
/*+++++++++++++++++PLAN PERSONAL++++++++++++++++++++*/
.planpersonal{
	margin-top: 200px;
	width: 100%;
	height: 580px;
	background-image: url(../img/planespecial3.jpg);
	background-size: cover;
	background-position: bottom;
	padding:80px 100px;
}
.planpersonal div h2{
	width: 50%;
	font-weight: 800;
	line-height:62px;
	font-size: 48px;
	color: #3d3d3d;
}
.planpersonal .textopersonal{
	margin-top: 50px;
	width: 25%;
	font-size: 18px;
	color: #3d3d3d;
}
.botonpersonal{
	margin-top: 140px;
	width: 200px;
	height: 50px;
	background-color: #3d3d3d;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.botonpersonal p{
	color: white!important;
	font-weight: 400;
	font-size: 18px;
}
.botonpersonal:hover{
	background-color: white;
}
.botonpersonal:hover p{
	color: #3d3d3d!important;
}
/*++++++++++++++++++CONECTA++++++++++++++++++*/
.conecta{
	margin-top: 200px;
	width: 100%;
	height: 420px;
	background-image: url(../img/conecta2.png);
	background-size: cover;
	background-position: top;
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 0 100px;
}
.conectatexto{
	width: 25%;
	margin-top: 70px;
	font-size: 16px;
}
/*++++++++++++++++++CÓMO TRABAJAMOS++++++++++++++++++*/
.trabajamos{
	margin-top: 150px;
	width: 100%;
	height: 450px;
	background-position: center;
	background-size: cover;
	background-image: url(../img/comotrabajamos4.jpg);
}
/*++++++++++++++++++CONTACTO SERVICIOS++++++++++++++++++*/
.contactoservicio{
	margin: 150px auto;
	width: 45%;
	text-align: center;
}
.contactoservicio h3{
	font-size: 40px;
	font-weight: 300;
	color: orange;
}
.contactoservicio h2{
	margin-bottom: 10px;
	font-size: 46px;
	color: #3d3d3d;
}
.contactoservicio p{
	width: 90%;
	margin: 0 auto;
	font-size: 20px;
	color: #3d3d3d;
}
.formularioservicio{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}
.formularioservicio input{
	border: 2px solid grey;
	width: 100%;
	margin: 5px 0;
	padding: 10px 20px;
}
.mensajeser{
	height: 150px;
}
.botonformu{
	margin-top: 30px;
	width: 200px;
	height: 60px;
	background-color: #3d3d3d;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.botonformu p{
	color: white!important;
}
.botonformu:hover{
	border: 2px solid #3d3d3d;
	background-color: transparent;

}
.botonformu:hover p{
	color: #3d3d3d!important;
}
/*+++++++++++++++++CONTACTO+++++++++++++++++++*/
.fondocontacto{
	padding-top: 120px;
}
.contacto{
	border-radius: 30px;
	background-image: url('../img/fondocontacto3.jpg');
	background-size: cover;
	background-position: center;
	width: 80%;
	height: 860px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
	padding: 49px 100px;
	box-shadow: 8px 8px 22px 5px rgba(0, 0, 0, .8);
}
.fotocontacto {
	width: 45%;
	height: 100%;
	background-image: url(../img/contacto/5.jpg);
	background-size: cover;
	background-position: center;
	margin: 0 3px;
}
.infocontacto{
	width: 55%;
	height: 100%;
	margin: 0 3px;
	padding:50px 60px;
}
.infocontacto h2{
	text-transform: uppercase;
	font-size: 36px;
	color: white;
}
.infocontacto h2 b{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 36px;
	color: orange;
}
.linea3{
	height: 8px;
	width: 100px;
}
.formcontact{
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-top: 30px;

}
.formcontact input{
	vertical-align: super;
	margin: 10px 0;
	height: 50px;
	color: white;
	padding: 20px;
	background-color: rgba(255, 255, 255, .15);
	border: none;
}
.formcontact .textocontac{
	height: 200px;
}
.formcontact .botoncontact{
	margin-top: 30px;
width: 180px;
height: 60px;
border: 2px solid orange;
background-color: orange;
color: white;
font-weight: 500;
font-size: 14px;
cursor: pointer;
}
.formcontact .botoncontact:hover{
	margin-top: 30px;
width: 180px;
height: 60px;
border: 2px solid white;
background-color: white;
color: orange;
font-weight: 500;
font-size: 14px;
cursor: pointer;
}
.iconologoweb{
	width: 80px;
	height: 80px;
	background-image: url(../img/ordenador.gif);
	background-size: cover;
	margin: 0 auto;
}
.iconologo2{
	width: 80px;
	height: 80px;
	background-image: url(../img/corbata.png);
	background-size: cover;
	margin: 0 auto;
}
.iconologoweb3{
	width: 80px;
	height: 80px;
	background-image: url(../img/tienda.png);
	background-size: cover;
	margin: 0 auto;
}
.planpersonalweb{
	margin-top: 100px;
	width: 100%;
	height: 580px;
	background-image: url(../img/planweb.png);
	background-size: cover;
	background-position: bottom;
	padding:80px 100px;
}
.planpersonalweb div h2{
	width: 50%;
	font-weight: 800;
	line-height:62px;
	font-size: 48px;
	color: #3d3d3d;
}
.planpersonalweb .textopersonal{
	margin-top: 50px;
	width: 45%;
	font-size: 18px;
	color: #3d3d3d;
}
.otratarifaweb{
	width: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, .06);
	padding: 15px;
}
.otratarifaweb h2{
	color: orange;
	margin-bottom: 20px;
}
.otratarifaweb p{
	color: #3d3d3d;
	width: 50%;
	margin: 0 auto;
}
.ventajasweb {
	width: 70%;
	margin: 130px auto 0px auto;
}
.ventajasweb .ventajaicon{
	display: flex;
	justify-content: space-around;
	width: 100%;

}
.ventajasweb h2{
	text-align: center;
	margin-bottom: 60px;
	font-weight: 400;
	font-size: 34px;
	color: #3d3d3d;
}
.venta{
	height: 100px;
	width: 100px;
	background-size: cover;

}
.ventaja1{
	margin: 0 auto;
	background-image: url('../img/icoMovil.png');
	margin-bottom: 30px;
}
.ventaja2{
	margin: 0 auto;
	background-image: url('../img/icoPC.png');
	margin-bottom: 30px;
}

.ventaja3{
	margin: 0 auto;
	background-image: url('../img/icoRueda.png');
	margin-bottom: 30px;
}
.ventajatext p{
	width: 300px;
	text-align: center;
	font-weight: 400;
	font-size: 16px;
}
.carteilus{
	margin-right: 140px;
	width:500px;
	height: 600px;
	background-image: url(../img/cartel.png);
	background-size: cover;
	background-position: center;
}

/*++++++++++++++++++CARTELERIA+++++++++++++++++++++*/
.carlogo{
		width: 80px;
	height: 80px;
	background-size: cover;
	margin: 0 auto;
}
.iconologocar{
	background-image: url('../img/flyer.png');
}
.iconologocar2{
	background-image: url('../img/triptico.png');
}
.iconologocar3{
	background-image: url('../img/poster.png');
}
.iconologocar4{
	background-image: url('../img/tarjetanegocio.png');
}
.iconologocar5{
	background-image: url('../img/catalogoico.png');
}
.iconologocar6{
	background-image: url('../img/invita.png');
}
.textotarifa{
	margin-top: 20px;
	width: 330px;
	line-height: 32px!important;
 	text-align:justify;
    word-break: break-all;
}
.tarifaslogos2{
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: space-around;
	padding:0 150px;
}
.botonprecio2{
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 50px;
	border: solid 2px orange;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.botonprecio2 p{
	color: orange!important;
	font-size: 16px!important;
}
.botonprecio2:hover{
	background-color: orange;
}
.botonprecio2:hover p{
		color: white!important;
}
.planpersonalCar{
	margin-top: 100px;
	width: 100%;
	height: 580px;
	background-image: url(../img/why.png);
	background-size: cover;
	background-position: bottom;
	padding:80px 100px;
}
.planpersonalCar div h2{
	width: 50%;
	font-weight: 800;
	line-height:62px;
	font-size: 48px;
	color: #3d3d3d;
}
.planpersonalCar .textopersonal{
	margin-top: 50px;
	width: 45%;
	font-size: 18px;
	color: #3d3d3d;
}
.botonpersonalcar{
	margin-top: 180px;
	width: 200px;
	height: 50px;
	background-color: #3d3d3d;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.botonpersonalcar p{
	color: white!important;
	font-weight: 400;
	font-size: 18px;
}
.botonpersonalcar:hover{
	background-color: white;
}
.botonpersonalcar:hover p{
	color: #3d3d3d!important;
}

/*++++++++++++++++++ MULTIMEDIA WEB +++++++++++++++++*/

.twitchilus{
	margin-right: 100px;
	width:800px;
	height: 700px;
	background-image: url(../img/redes2.png);
	background-size: cover;
	background-position: center;
}

.iconologoyoutube{
	background-image: url(../img/youtubeico.png);
}
.iconologotwitch{
	background-image: url(../img/twitchico.png);
}
.iconologosocial{
	background-image: url(../img/likeico.png);
}
.logorrss h4{
	margin-bottom: 20px;
}
.logorrss div p {
	line-height: 30px!important;
}
.tarifaslogos3{
	width: 100%;
	height: 560px;
	display: flex;
	justify-content: space-around;
	padding:0 150px;
}
.planpersonalredes{
	margin-top: 100px;
	width: 100%;
	height: 780px;
	background-image: url(../img/redes3.png);
	background-size: cover;
	background-position: bottom;
	padding:80px 100px;
}
.planpersonalredes div{
	margin-top: 80px;
}
.planpersonalredes div h2{
	width: 50%;
	font-weight: 800;
	line-height:62px;
	font-size: 48px;
	color: #3d3d3d;
}
.planpersonalredes .textopersonal{
	margin-top: 50px;
	width: 35%;
	font-size: 18px;
	color: #3d3d3d;
}
.planpersonalredes .textopersonal2{

	width: 35%;
	font-size: 18px;
	color: #3d3d3d;
}
.botonpersonalredes{
	margin-top: 220px!important;
	width: 200px;
	height: 50px;
	background-color: #3d3d3d;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.botonpersonalredes p{
	color: white!important;
	font-weight: 400;
	font-size: 18px;
}
.botonpersonalredes:hover{
	background-color: white;
}
.botonpersonalredes:hover p{
	color: #3d3d3d!important;
}
.bloquestream{
	margin-left: 70%;
	width: 30%;
}
.planpersonalredes2{
	margin-top: 100px;
	width: 100%;
	height: 780px;
	background-image: url(../img/stream.png);
	background-size: cover;
	background-position: bottom;
	padding:80px 100px;
	display: flex;
	justify-content: flex-end;
}

.planpersonalredes2 div h2{
	width: 100%;
	font-weight: 800;
	line-height:62px;
	font-size: 48px;
	color: #3d3d3d;
}
.planpersonalredes2 .textopersonal{
	margin-top: 50px;
	width: 100%;
	font-size: 18px;
	color: #3d3d3d;
}
.planpersonalredes2 .textopersonal2{
	margin-top: 70px;
	width: 100%;
	font-size: 18px;
	color: #3d3d3d;
}
.otratarifaredes{
	width: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, .06);
	padding: 15px;
}
.otratarifaredes h2{
	color: orange;
	margin-bottom: 20px;
}
.otratarifaredes p{
	color: #3d3d3d;
	width: 50%;
	margin: 0 auto;
}
/*+++++++++++++++++++++++ BRANDING ++++++++++++++++++*/
.brandilus{
	margin-right: 100px;
	width:800px;
	height: 700px;
	background-image: url(../img/branding.png);
	background-size: cover;
	background-position: center;
}
.iconologoman{
	width: 80px;
	height: 80px;
	background-image: url(../img/manual1.png);
	background-size: cover;
	margin: 0 auto;
}
.iconologoman2{
	width: 80px;
	height: 80px;
	background-image: url(../img/manual2.png);
	background-size: cover;
	margin: 0 auto;
}
.tarifaslogosmar{
	width: 100%;
	height: 800px;
	display: flex;
	justify-content: space-around;
	padding:0 300px;
}
.planpersonalmar{
	margin-top: 200px;
	width: 100%;
	height: 580px;
	background-image: url(../img/brand.png);
	background-size: cover;
	background-position: bottom;
	padding:80px 100px;
}
.planpersonalmar div h2{
	width: 50%;
	font-weight: 800;
	line-height:62px;
	font-size: 48px;
	color: #3d3d3d;
}
.planpersonalmar .textopersonal{
	margin-top: 50px;
	width: 25%;
	font-size: 18px;
	color: #3d3d3d;
}
.botonpersonalmar{
	margin-top: 140px;
	width: 200px;
	height: 50px;
	background-color: #3d3d3d;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.botonpersonalmar p{
	color: white!important;
	font-weight: 400;
	font-size: 18px;
}
.botonpersonalmar:hover{
	background-color: white;
}
.botonpersonalmar:hover p{
	color: #3d3d3d!important;
}
.datos{
	cursor: auto  !important;
}
.datospag{
	text-decoration: none;
	color: white;
}

/*++++++++++++++++++VERSIÓN MÓVIL++++++++++++++++++++++++++*/
@media (max-width:450px){
/*+++++++++++++++++++ CABECERA ++++++++++++++++++++++++++++*/
header {
width: 100%;
height: 60px;
position: fixed;
z-index: 998;
}
#logo{
	width: 190px;
	left: 5%;
	top:30px;
	position: fixed;
	z-index: 999;
	cursor: pointer;
}
/*++++++++++++++++++++ HAMBURGUESA +++++++++++++++++++++++++*/
nav {
	position: fixed;
	top: 30px;
	right: 10px;
	z-index: 2;
	cursor: pointer;
}
.menu{
	position: fixed;
	right: 20px;
	color: white;
	top: 70px;
	z-index: 3;
	font-weight: 200;
}
.check{
	width: 55px;
	height: 55px;
	position: absolute;
	top:0px;
	left: 0px;
	z-index: 2;
	opacity: 0;
		cursor: pointer;
}
#burguer{
	width: 50px;
	height: 50px;
	padding-top: 5px;
	top:0px;
	left:0px;
	position: relative;
}
/*+++++++++++++++++Bloque++++++++++++++++++++++++++++*/
.bloqueColor1{
	background-color: transparent;

}
.bloquecolor2{
background-color: #3e3e3d;
	width: 25%;
	height: 100vh;
	position: fixed;
	right: -25%;
	top: 0;
	transition: 1.5s;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 887;
}
.fondo{
	width: 100%;
	height: 100vh;
	background-image: url('../img/globito2.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.weare{
opacity: 0;

}
.menuabierto{
	right: 0;
	width: 100%;
	transition: 1.5s;
	
}
.menuabierto2{
	right: 0;
	width: 100%;
	transition: 1.5s;
}
.weareabierto{
	display: none;
}
.cajanav{
	position: absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items:center;

}
.navegador{
	width: 100%;
	height: 300px;
display: flex;
flex-direction: column;

}
.linea1{
		display: flex;
		flex-direction: column;
		justify-content: center;

		opacity: 0;
}
.navegador li{
	width: 100%;
	text-align: center;
	font-size: 24pt;
	font-weight: 200;
	margin-bottom: 50px;
transition: 1.5s;
}
.navegador li a{
	text-decoration: none;
	color: white;
}
.navegador li a:hover{
	color:orange;
}
.navegadorAbierto{
	opacity: 1;
	transition: 1.5s;
}
/*+++++++++++++++++++ QUIEN SOY +++++++++++++++++++++++++ */
.quienSoy{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.tituloSoy{
	width: 100%;
	position: relative;
}
.tituloSoy h2{
	font-size: 18pt;
	color: orange;
	font-weight: 200;

}
.tituloSoy h1{
	font-size: 20pt;
	color: #3e3e3d;
	font-weight: 700;
		line-height: 30pt;

}
.textoSoy{
	margin-top: 70px;
	text-align: justify;
	width: 100%;
}
.barras{
	height: 8px;
	width: 100%;
	display: flex;
	position: absolute;
	top: 200px;
	left: 0px;
}
.barra1{
	height: 8px;
	width: 250px;
	background-color: orange;
}
.barra2{
	height: 8px;
	width: 10px;
	background-color: orange;
	margin-left: 10px;
}
.botonSoy{
	width: 200px;
	height: 60px;
	border: 2px solid orange;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.botonSoy p{
	color: orange;
	font-size: 12pt;
	text-transform: uppercase;
}
.botonSoy:hover{
	background-color: orange;
}
.botonSoy:hover p{
	color: white;
}
/*+++++++++++++++++++ SECCION DE INTERESES +++++++++++++++++++++ */
.intereses{
	margin: 100px 0 150px 0;
	width: 100%;
	padding:0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: #f0f0f0;
}
.sectionInt{
	width: 100%;
	display: flex;
	height: 280px;
	flex-direction: column;
	align-items: center;
}
.tituloInt{
	width: 300px;
	text-align: center;
}
.textoInt{
	width: 300px;
}
.iconoInt{
	width: 100px;
	height: 100px;
		background-size: cover;
	background-position: center;
}
.iconseo{
	background-image: url('../icon/seo.png');
}.iconweb{
	background-image: url('../icon/web.png');
}.iconvideo{
	background-image: url('../icon/video.png');
}.iconfoto{
	background-image: url('../icon/foto.png');
}
.sectionInt h4{
	margin: 5px 0;
	font-size: 18pt;
}
.sectionInt p{
	text-align: center;
}
/* +++++++++++++++++++++++++SECCION CATEGORIAS ++++++++++++++++++++++++++++ */
.categorias{
	margin-top: 100px;
	height: 100vh;
	width: 100%;
	position: relative;
	margin-bottom: 1100px;
}
.foto{
	background-image: url('../img/naranjas.jpg');
	background-size: cover;
	background-position: center;
}
.foto2{
	background-image: url('../img/limon.jpg');
	background-size: cover;
	background-position: center;
}
.foto3{
	background-image: url('../img/piña.jpg');
	background-size: cover;
	background-position: center;
}
.foto4{
	background-image: url('../img/diseñoweb.jpg');
	background-size: cover;
	background-position: center;
}
.fotogrande{
	height: 400px;
	width: 100%;
	position: absolute;
	left: 0px;
	top:0px;
}
.fotopeque{
	height: 300px;
	width: 250px;
	position: absolute;
	left: 90px;
	top: 130px;
}

.categorias .titulo1{
	font-size: 42px;
	font-weight: 400;
	color: #858584;
	position: absolute;
	left: 20px;
	top: 440px;
}
.titulo2{
	font-size: 42px;
	font-weight: 400;
	color: #858584;
	position: absolute;
	left: 20px;
	top: 490px;
}
.texto{
	width: 300px;
	height: 500px;
	position: absolute;
	left: 20px;
	top: 580px;
	font-size: 12pt;
	font-weight: 400;
	color: #6e6e6e;
	text-align: justify;
}
.boton{
	width: 200px;
	height: 60px;
	border: 2px solid orange;
	position: absolute;
	left: 20px;
	top: 1520px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.boton:hover{
	background-color: orange;
}
.boton p{
	color: orange;
	font-size: 12pt;
	text-transform: uppercase;
}
.boton:hover p{
		color: white;
}
.flecha{
	background-image: url('../icon/flecha.png');
	height: 50px;
	width: 50px;
	position: absolute;
	right: 20px;
	top: 1520px;
	cursor: pointer;
	animation-name: flechazo;
	transition: 0.5s;
}
.flecha:hover{
	position: absolute;
	right: 220px;
	transition: 1s;
}
.categorias2,.categorias3,.categorias4{
	display: none;
}
/*++++++++++++++++++++  CONTENIDO+++++++++++++++++++  */

.contenido{
	margin-top: 100px;
	width: 100%;
	height: 350px;
	background-image: url('../img/oso.jpg');
	background-size: cover;
	background-position: center;
	margin-bottom: 1000px;
	position: relative;
}
.bloqueContenido{
	background-color: white;
	width: 90%;
	height: 900px;
	position: absolute;
	left: 20px;
	top: 400px;
	border:2px solid orange;
}
.bloquetexto{
	width: 80%;
	height: 500px;
	position: absolute;
	left: 40px;
	top: 425px;

}
.bloquetexto h2{
	font-size: 30pt;
	font-weight: 400;
	color: #6e6e6e;
	margin-bottom: 10px;
}
.bloquetexto p{
	font-size: 12pt;
	color: #6e6e6e;
	text-align: justify;
}
.botonConte{
	width: 200px;
	height: 60px;
	border: 2px solid orange;
	position: absolute;
	left: 0px;
	top: 780px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.botonConte p{
	color: orange;
	font-size: 12pt;
	text-transform: uppercase;

}
.botonConte:hover{
	background-color: orange;
}
.botonConte:hover p{
	color: white;
}
/*++++++++++++++++++++++++    BLOG ++++++++++++++++++++++   */
.tituloblog{
	display: block;
	margin: 0 20px;
	font-size: 30pt;
}
.bloghome{
	width: 100%;
	height: 850px;
	display: block;
}
.imgblog{
display: none;

}
.bloquetextoconte{
	width: 90%;
	height: 600px;
	position: relative;
	padding: 0px;
	margin: 20px;
	text-align: justify;
}
.linea{
	width: 150px;
	height: 10px;
	background-color: orange;
	float: right;
	margin-top: 150px;
}
.botonblog{
	width: 200px;
	height: 60px;
	border:2px solid orange;
	position: absolute;
	left: 0px;
	top: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.botonblog p{
	color: orange;
	font-size: 12pt;
	text-transform: uppercase;
}
.botonblog:hover{
	background-color: orange;
}
.botonblog:hover p{
	color: white;
}
.filtroinfo{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
}
.cuadroinfo{
	width: 100%;
	height: 200px;
	position: absolute;
	padding: 40px;
	bottom: 0;
}
.cuadroinfo h4{
		font-family: 'Mulish', sans-serif;
		text-transform: uppercase;
		color: orange;
		margin-bottom: 10px;
}
.cuadroinfo h3{
		font-family: 'Poppins', sans-serif;
		text-transform: uppercase;
		font-size: 22px;
		color: white;
		font-weight: 600;
}
.cuadroinfo2{
	width: 100%;
	height: 180px;
	position: absolute;
	padding: 40px;
	bottom: 0;
}
.cuadroinfo2 h4{
		font-family: 'Mulish', sans-serif;
		text-transform: uppercase;
		color: orange;
		margin-bottom: 10px;
}
.cuadroinfo2 h3{
		font-family: 'Poppins', sans-serif;
		text-transform: uppercase;
		font-size: 18px;
		color: white;
		font-weight: 600;
}
/*+++++++++++++++++++++ CONTÁCTANOS +++++++++++++++++++++*/

.contactanos{
	text-align: center;

}
.contactanos h2{
	color: orange;
	font-size: 24pt;
	font-weight: 200;
	line-height: 34pt;
}
.contactanos h1{
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 28pt;
	font-weight: 500;
	color: #3e3e3d;
	text-transform: uppercase;
}
.contactanos p{
	width:100%;
	color: #3e3e3d;
	font-size: 14pt;
	margin: 0 auto;
}
.botonContacto{
	width: 200px;
	height: 60px;
	border: 2px solid orange;
	margin: 50px auto 50px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.botonContacto p{
	color: orange;
	font-size: 12pt;
	text-transform: uppercase;
}
.lineaseparacion{
	width: 100%;
	height: 2px;
	background-color: orange;
	margin: 80px 0;
}
.lineafinal{
	margin-bottom: 200px;
}
/*    FOOTER    */

footer{
	text-align: center;
	width: 100%;
	height: 900px;
	background-color: #3e3e3d;
	padding:20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: white;
}
.apart{
	margin-top: 20px;
}
.icono{
	color: white;
	font-size: 18pt;
	margin-right: 25px;

}

footer p{
	font-size: 14pt;
	font-weight: 500;
	margin-bottom: 15px;
}
footer ul li{
	font-size: 12pt;
	font-weight: 300;
	margin-bottom: 5px;
	cursor: pointer;
}
.linea2{
	margin: 15px auto;
	width: 100px;
	height: 6px;
	background-color: white;
}
.copy{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10pt;
	height: 60px;
	width: 100%;
	background-color: #30302f;
	color:white;
	font-weight: 200;
}
.copy p{
	width: 70%;
	text-align: center;
}
/*++++++++++++SERVICIOS++++++++++++++++++++++++++++++++++*/

.servicios{
	width: 100%;
	height: 890px;
	margin: 60px 0px;
	display: flex;
	flex-direction: column;
}
.servicios a{
	text-decoration: none;
}
.ser1{
	width: 100%;
	height: 200px;
	display: block;
}
.serlogo, .bloq2{
	margin: 0px;
	width: 100%;
}
.bloq2{
	display: flex;
	flex-direction: column;

	height: 400px;
}
.serlogo{
	background-image: url('../img/serlog.jpg');
	background-size: cover;
	background-position: center;

}
.serweb{
	width: 100%;
	height: 200px;
	background-image: url('../img/serweb.jpg');
	background-size: cover;
	background-position: center;
}
.sercarteleria{
	width: 100%;
	height: 200px;
	background-image: url('../img/sercar.jpg');
	background-size: cover;
}
.ser2{
	width: 100%;
	height: 400px;
	display: block;
	margin-top: 390px;
}
.sermultimedia{
	width: 100%;
	height: 200px;
	background-image: url('../img/sermul.jpg');
	background-size: cover;
	background-position: center;
	margin: 0px;
}
.serbranding{
	width: 100%;
	height: 200px;
	background-image: url('../img/serbran.jpg');
	background-size: cover;
	background-position: center;
	margin: 0px;
}
.serlogo h3{
	text-align: center;
padding-top: 30%;
margin-left: 5%;
	color: white;
}
.bloq2 h3{
	text-align: center;
	padding-top: 30%;
	margin-left: 5%;
	color: white;
}
.ser2 h3{
	text-align: center;
	padding-top: 30%;
	margin-left: 5%;
	color: white;
}
.cuadronegro{
	height: 100%;
	width: 100%;
	cursor: pointer;
}
.cuadronegro:hover{
	background-color: rgba(0, 0, 0, .7);

}
.serlogo:hover{
	background-size: 110%;
}
.serweb:hover{
	background-size: 110%;
}
.sercarteleria:hover{
	background-size: 110%;
}
.sermultimedia:hover{
	background-size: 110%;
}
.serbranding:hover{
	background-size: 110%;
}
.foter{
	margin-top: 100px;

}
/*++++++++++++++BLOG+++++++++++++++++++++++*/

.blog{
	width: 95%;
	margin:100px auto 0px auto;
	display: flex;
	flex-direction: column;
}
.seccion1{
	width: 100%;
	height: 2000px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.seccion2{
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.imagengrande{
	width: 100%;
	height: 400px;
	background-image: url('../img/blog/blog1.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	cursor: pointer;
}
.imagenpequeña{
	width: 100%;
	height: 1600px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.imagenizq{
	height: 800px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.imagender{
	height: 800px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}
.bloquegrande1{
	width: 100%;
	height: 400px;
	background-color: violet;
	position: relative;
			background-image: url('../img/blog/blog4.jpg');
	background-size: cover;
	background-position: center;
cursor: pointer;
}
.bloquegrande2{
	width: 100%;
	height: 400px;
	background-color: violet;
	position: relative;
			background-image: url('../img/blog/blog5.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.bloquepeque1{
	width: 100%;
	height: 400px;
	position: relative;
		background-image: url('../img/blog/blog2.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.bloquepeque2{
	width: 100%;
	height: 400px;
	position: relative;
		background-image: url('../img/blog/blog3.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.bloqueblog{
	width:  100%;
	height: 400px;
	background-color: black;
	margin-top: 10px;
	position: relative;
}
.bloqueblog1{
		background-image: url('../img/blog/blog6.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.bloqueblog2{
		background-image: url('../img/blog/blog7.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.bloqueblog3{
		background-image: url('../img/blog/blog3.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.bloqueblog4{
		background-image: url('../img/blog/blog8.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.bloqueblog5{
		background-image: url('../img/blog/blog9.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.bloqueblog6{
		background-image: url('../img/blog/blog10.jpg');
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.logo2{
	width: 120px;
	top: 15px;
	left: 5%;
	position: fixed;
	z-index: 999;
}
.cabecera2{
	height: 60px;

}
.burguer{

	top: -15px !important;
}
.check{
	top: -20px !important;
}


}